.pagination {
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    width: 40px;
    height: 40px;

    line-height: 40px;
    text-align: center;
    &&--active {
      border: 1px solid #000000;
    }
  }
}

.select-block {
  height: 100px;
  border-bottom: 1px solid #000000
}
.checkbox {
  &__title {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &__box {
    margin-bottom: 10px;
  }
  &__input {
    display: none;
  }
  &__label {
    position: relative;
    padding-left: 25px;
    &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 18px;
    height: 18px;
    content: '';
    border: 2px solid #5a5a5a;
    border-radius: 3px;
}
  }
  &__input:checked ~ &__label::before {
    background: #676767;
  }
}

.catalog {
  width: calc(~'100% - 200px');
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    //width: 30%;
    //margin-left: -10px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    flex-grow:1;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    background: #fff;
    text-decoration: none;
  }
  &__card-img-wrapper {
    position: relative;
    color: red;
  }
  &__card-img {
    width: 100%;
    color: blue;
  }
  &__card-price {
    position: absolute;
    bottom: 7px;
    left: 7px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  }
  &__card-text-wrapper {
    padding: 3px 7px;
  }
  &__card-title {
    color: #666;
    line-height: 1.4;
  }
  &:hover &__card-title {
    color: #666;
  }
  &__card-list {
    color: #999;
    line-height: 1.3;
  }
}
